[submodule "xen"]
	path = xen
	url = https://xenbits.xen.org/git-http/xen.git
[submodule "zephyr-apps"]
	path = zephyr-apps
	url = https://github.com/wmamills/zephyr-xen-rt.git
[submodule "saved-images"]
	path = saved-images
	url = https://github.com/wmamills/xen-rt-exp-images.git
[submodule "xen-imagebuilder"]
	path = xen-imagebuilder
	url = https://gitlab.com/xen-project/imagebuilder.git
